# Database Configuration
db.host=localhost
db.name=javabank
db.username=postgres
db.password=
schema.auto=create
debug.sql=true

# AI Configuration
ai.api_key=XXXXXXXXXXXXXXXXXXXX
ai.chat.model=gpt-4o
ai.embedding.model=text-embedding-3-small
ai.temperature=0.4
ai.vector_store_file=/tmp/vector_store.json
ai.rag_documents=classpath:/ai/rag/*
ai.rag_prompt_template=classpath:/ai/templates/rag-prompt-template.st
ai.rag_number_results=4
ai.function_prompt_template=classpath:/ai/templates/function-prompt-template.st
ai.prompt_template=classpath:/ai/templates/prompt_template.st