# Database Configuration
db.host=localhost
db.name=baymax
db.username=
db.password=
schema.auto=create
debug.sql=true

# AI Configuration
ai.api_key=XXXXXXXXXXXXXXXXXXX
ai.chat.model=gpt-4o
ai.embedding.model=text-embedding-ada-002
ai.temperature=0.4
ai.rag_prompt_template=classpath:/ai/templates/rag-prompt-template.st
ai.function_prompt_template=classpath:/ai/templates/function-prompt-template.st
ai.json_prompt_template=classpath:/ai/templates/prompt_template.json
ai.prompt_template_fda=classpath:/ai/templates/prompt_template_FDA.st
ai.prompt_template=classpath:/ai/templates/prompt_template.st