<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Configuration properties -->
    <context:property-placeholder location="classpath:config.properties" />

    <!-- Base package to search for spring beans -->
    <context:component-scan base-package="com.codeforall.online.baymax"/>

    <!-- Use @Controller, @Service annotations -->
    <mvc:annotation-driven/>

    <import resource="persistence.xml"/>
    <import resource="presentation.xml"/>
    <import resource="ai.xml" />

</beans>
